.header__navlink {
  margin: 0 0 0 24px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  transition: .4s;
  text-decoration: none;
}

.header__navlink_screen_initial {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  transition: .4s;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .header__navlink_screen_initial {
    margin: 0 30px 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  }
}

.header__navlink:hover {
  opacity: .6;
}

@media screen and (max-width: 768px) {
  .header__navlink {
    margin: 0 0 40px;
  }
}